.category {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  max-width: 75%;
  margin: 10px auto;
}

.category button {
    padding: 0;
    border: none; 
    background: none;
}

.categoryInfo {
  padding: 15px;
}